@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Dosis:wght@400;500;600;700&family=Jost:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500;600&family=Raleway:wght@400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
.reg{
width:50%;
margin: auto;
box-shadow:0 0 15px 5px rgba(118,172,255,0.4);
margin-top:120px;
padding:30px 0;
position: relative;
background-color:white;
border-radius:7px;
margin-bottom: 70px;

}
/* .back{
background-image: url('../../imgs/title.jpg');
background-size: cover;
height:40vh;
display: flex;
flex-direction: column;
align-items: center;



} */

@media  screen and (max-width:900px) {
    .reg{
        width:80%;
    }
}

.signwith::after{
content: "";
position: absolute;
width:40%;
height:1px;
background-color: rgba(0, 0, 0,0.2);
top: 50%;
left:-20px;
}

.signwith::before{
    content: "";
    position: absolute;
    width:40%;
    height:1px;
    background-color: rgba(0, 0, 0,0.2);
    top: 50%;
    right:-20px;
    }
     
    .signup{
        background-color:#010F1C; 
        border-color:#010F1C ;
    }
    .signup:hover{
        background-color:#5783DB;
        border-color:#5783DB;
    }

    .title{
        font-family: 'Alkatra', cursive;
        font-size:45px;
    }

    .links{
    text-decoration: none;
    color:#3b3b3b;
    font-size: 17px;
    }

    .login{
    color: #5783DB;
    text-decoration: underline;

    }
    
    .emailIcon{
      top:30%  
    }
    body {
        font-family: 'Dosis', sans-serif;
       
    }

  

    